<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/template_base}" )>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Digital Recipe</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}"/>
</head>
<body>
<div layout:fragment="contenedor">
    <div class="pagetitle">
        <h1>Lista de regiones</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Regiones</li>
            </ol>
        </nav>
        <div>
            <button class="btn btn">
                <a th:href="@{/client/new}">
                    Agregar Nueva
                </a>
            </button>
        </div>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="objeto: ${objectsList}">
                    <td th:text="${objeto.id}"></td>
                    <td th:text="${objeto.name}"></td>
                    <td>
                    <a th:href="@{/client/edit/{id}(id=${objeto.id})}">
                        <button class="btn btn-primary">Editar</button>
                    </a>
                    </td>
                    <td>
                        <a th:href="@{/client/delete/{id}(id=${objeto.idClient})}">
                            <button class="btn btn-danger"
                                    onclick="return confirm('Seguro que quiere eliminar?')">Borrar
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- End Left side columns -->
        </div>
    </section>
</div>
</body>
</html>