<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/template_base}")>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Digital Recipe</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png"/>
</head>
<body>
    <div layout:fragment="contenedor">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recipe by Countries</h4>
                <div class="row">
                    <div class="col-md-5">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-us"></i>
                                    </td>
                                    <td>USA</td>
                                    <td class="text-right"> 1500</td>
                                    <td class="text-right font-weight-medium"> 56.35%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-ec"></i>
                                    </td>
                                    <td>Ecuador</td>
                                    <td class="text-right"> 800</td>
                                    <td class="text-right font-weight-medium"> 33.25%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-au"></i>
                                    </td>
                                    <td>Australia</td>
                                    <td class="text-right"> 760</td>
                                    <td class="text-right font-weight-medium"> 15.45%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-gb"></i>
                                    </td>
                                    <td>United Kingdom</td>
                                    <td class="text-right"> 450</td>
                                    <td class="text-right font-weight-medium"> 25.00%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-ro"></i>
                                    </td>
                                    <td>Romania</td>
                                    <td class="text-right"> 620</td>
                                    <td class="text-right font-weight-medium"> 10.25%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-br"></i>
                                    </td>
                                    <td>Brasil</td>
                                    <td class="text-right"> 230</td>
                                    <td class="text-right font-weight-medium"> 75.00%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div id="audience-map" class="vector-map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>